@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #0c0c0c;
}

h1 {
    font-size: 64px;
    justify-self: center;
    padding: 40px;
    margin: 0;
}

a { text-decoration: none; }

.find-me {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.find-me p {
    margin: 0;
    font-size: 20px;
    color: #363636;
}

.main {
    display: flex;
    gap: 48px;
}

.grid {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 584px;
    height: 584px;
    background-color: white;
    overflow: hidden;
    border: solid 1px;
    border-radius: 16px;
}

.gridRow {
    display: flex;
    justify-self: stretch;
    align-items: stretch;
    flex: auto;
    height: 8px;
    width: 100%;
    background-color: transparent;
}

.pixel {
    background-color: white;
    outline: solid 1px;
    flex: auto;
    height: auto;
    width: auto;
}

.toolbox {
    width: 292px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #ffffff;
    border: 1px solid #0c0c0c;
    border-radius: 16px;
}

#color-picker {
    -webkit-appearance: none;
    padding: 0;
    margin: 0 0 24px 0;
    appearance: none;
    border: none;
    cursor: pointer;
    width: auto;
    height: 112px;
    background-color: transparent;
}

button {
    appearance: none;
    padding: 12px 24px;
    margin: 0;
    border: 1px solid #0C0C0C;
    color: #0C0C0C;
    font-size: 16px;
    cursor: pointer;
    background: transparent; 
}

button:hover {
    background-color: #0c0c0c;
    color: #fff;
}

.button-clicked {
    background-color: #0c0c0c;
    color: #fff;
}

.range-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#range {
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    width: 100%;
    background: #f2f2f2;
    outline: 1px solid #0C0C0C;
    outline-offset: -1px;
}

.range-value{
    font-size: 24px;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-picker::-webkit-color-swatch {
    padding: 0;
    margin: 0;
/*    border-radius: 8px;   */
    border: 1px solid #0C0C0C;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height : 24px;
    width: 24px;
    border-radius: none;
    background: #0c0c0c;
}

.fa-github {
    color: #363636;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: scale(1.4);
    color: #000000;
  }