.main {
    display: flex;
    gap: 40px;
}

.gridRow {
    display: flex;
    justify-self: stretch;
    align-items: stretch;
  /*  outline: solid 1px; */
    flex: auto;
    height: 8px;
    width: 100%;
    background-color: transparent;
}
.pixel {
    background-color: white;
    outline: solid 1px;
    flex: auto;
    height: auto;
    width: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: white;
    overflow: hidden;
    outline: solid 1px;
}

a {
    text-decoration: none;
}